window {
    background: rgba(40, 40, 40, 0.9);
    border-radius: 10px;
    border: 2px solid #fabd2f;
}

#container {
    padding: 20px;
}

progressbar {
    background-color: #504945;
    border-radius: 5px;
}

trough {
    min-height: 10px;
    min-width: 200px;
}

progress {
    background-color: #fabd2f; /* Amarelo Gruvbox */
}

label {
    color: #ebdbb2;
    font-family: "JetBrainsMono Nerd Font";
}
